body {
  text-align: center;
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  background-color: green;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #04680c;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-image: url("images/red.png");
  background-position: center;
}

.green {
  background-image: url("images/green.png");
  background-position: center;
}

.blue {
  background-image: url("images/blue.png");
  background-position: center;
  background-size: contain;
}

.yellow {
  background-image: url("images/yellow.png");
  background-position: center;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
